
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: lightblue; /* Black background for the navbar */
    color: white; /* White text color */
}

    .navbar a {
        color: white; /* White color for links inside the navbar */
    }

        .navbar a:hover {
            color: lightgray; /* Light gray color for links on hover */
        }

    .navbar .navbar-brand {
        color: white; /* Ensure brand name is white */
    }

    .navbar .navbar-toggler-icon {
        background-color: white; /* White color for the navbar toggler icon */
    }

    /* Optional: Adjust padding for better readability */
    .navbar .navbar-nav .nav-link {
        padding: 0.5rem 1rem;
    }

.content {
    padding-top: 10px;
}